mixin courseCard(image , title , content)
    div(class="course__card")
        div(class="course__card__content") 
            img(src=image, alt="")
            p=title
            p=content
        button(class="course__btn")
            span Learn more
            span 
                img(src="./images/download.svg", alt="")