div(class="main__header")
    div(class="main__header__left")
        div
            img(src="./images/menu.svg", alt="")
        div
            div(class="search")
                img(src="./images/search.svg", alt="")
                span(class="search__text") Search Anything
    div(class="main__header__right")
        div(class="header__cover cover__icon")
            img(src="./images/chat.svg", alt="")
        div(class="header__cover cover__icon")
            img(src="./images/notification.svg", alt="")
        div(class="header__cover cover__image")